body {
  font-family: Arial, Helvetica, sans-serif;
}

.top-content {
  height: calc(100vh - var(--footer-height));
  width: 100%;
  background-color: aqua;
}

/* SIDEBAR */

.sidebar {
  height: 100%;
  height: calc(100vh - var(--footer-height));
  width: var(--width-sidebar);
 
  background-color: #000000;
  color: white;
  overflow-x: hidden;
}

/* SIDEBAR LOGO */
.sidebar .logo img {
  height: 40px;
  margin: 20px 10px 10px 10px;
 }

/* SIDEBAR NAV */

 .sidebar-nav {
  margin: 20px 10px;
 }

 .sidebar-nav img {
  height: 25px;
  opacity: 0.5;
  margin: 3px 5px;
  vertical-align: middle;
 }
 
 .sidebar-nav a {
  font-size: .9rem;
  opacity: 0.5;
  vertical-align: middle;
 }
 
 .sidebar .opacity100 {
  opacity: 1.0;
 }

 /* SIDEBAR PALYLIST */

 .sidebar-playlist {
  margin-left: 20px;
 }

 .sidebar-playlist h2 {
  font-size: .8rem;
  font-weight: bold;
  text-transform: uppercase;  
 }

  .sidebar-playlist ul {
  height: 200px;
  overflow: auto;
 }

 .sidebar-playlist ul li {
  opacity: 0.5;
  margin: 10px 0; 
  font-size: .9rem;  
 } 

.sidebar-playlist a.playlist{
  font-size: .9rem;
  font-weight: bold;
  margin: 10px 0 10px 0;
  opacity: 0.5;
  }

 .sidebar-playlist i {
  margin-right: 5px; 
  vertical-align: middle;
 } 

 /* SIDEBAR FOOTER */
.sidebar-footer {
  margin-left: 20px;
  margin-top: auto;
}

.sidebar-footer a:first-child {
 border-bottom: 1px solid white;
 width: 80%;
 padding: 0 0 10px 0 ;
 opacity: 0.5; 
 font-size: .8rem;
}

.sidebar-footer a:nth-child(2) {
  font-size: 1rem;
  font-weight: bold;
  padding-top: 10px;
  vertical-align: middle;
}

.sidebar-footer img {
  height: 15px;
  margin-right: 5px; 
  vertical-align: middle;
 }

 .sidebar-footer a:nth-child(2) img{
  height: 20px;
  vertical-align: middle;
  }


/* HEADER */

.header {
  height: 90px;
  width: calc(100% - var(--width-sidebar));
  background-color: var(--bg-header);
  opacity: 0.7;
  position: fixed;
  z-index: 1;
}

/* HEADER BUTTON */
.header .btn {
  display: inline-block;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 22px;
  padding: 10px 40px;
  text-decoration: none;
  font-size: .8rem;
  text-transform: uppercase;
  margin: 20px 30px;
}

/* MAIN */

.main-content {
  height: calc(100vh - var(--footer-height));
  width: calc(100% - var(--width-sidebar));
  overflow: auto;
  color: var(--white);
  
  background-color: #141922;
}

.main {
  height: 100%;
  padding-top: 100px;
}

.main-nav ul li a {
  color: var(--p);
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 10px;
}

.main .album h4 {
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--white);
  margin: 20px 0 10px 0;
}

.main .album p{
  font-size: .9rem;
  font-weight: bold;
  text-align: center;
  opacity: 0.5;
}

.main .album p{
  font-size: .9rem;
  font-weight: bold;
  text-align: center;
  opacity: 0.5;
}

.main-content h2{
  font-size: 1.8rem;
  font-weight: bold;
  padding: 30px 20px 10px 20px;
}

.main-content .listen-more{
  font-size: .9rem;
  font-weight: bold;
  opacity: 0.5;
  margin-left: 20px;
  padding-bottom: 20px;
}



/* FOOTER */

.footer {
  height: var(--footer-height);
  width: 100%;
  background-color: var(--footer-bgcolor);
  margin-top: auto;
  color: var(--white);  
}

/* FOOTER LEFT */

.footer-left {
  flex-basis: 30%;
  gap: 60px;
}

#footer .player-img{
  width: 50px;
  height: 45px;
}

#footer .song-desc h6 {
  font-size: .9rem;
  font-weight: bold;
  color: var(--white);
}

#footer .song-desc p {
  font-size: .7rem;
  color: var(--white);
  opacity: 0.5;
}
#footer .player-icon i {
  opacity: 0.5;
}

/* FOOTER CENTER */

.footer-center {
  flex-basis: 40%;
}
.footer-center .progress-bar {
  width: 450px;
  height: 4px;
  border-radius: 1px;
  background-color: #5a5a5a;
}

.footer-center .progress {
  width: 30%;
  height: 100%;
  border-radius: 1px;
  background-color: #c1c1c1;
  display: block;
}

.footer-center .media-icons {
  font-size: 20px;
}
.media-icons i:nth-child(3) {
  font-size: 30px;
}

.footer-center div:last-child p {
  font-size: .65rem;
  font-weight: bold;
  opacity: 0.8;
}

/* FOOTER RIGHT */

.footer-right {
  flex-basis: 30%;
}

.footer-right .volume-bar {
  width: 150px;
  height: 4px;
  border-radius: 1px;
  background-color: #5a5a5a;
}

.footer-right .volume {
  width: 30%;
  height: 100%;
  border-radius: 1px;
  background-color: #c1c1c1;
  display: block;
}