#top-content {
  height: calc(100vh - 80px);
  background-color:chocolate;
  border: 1px solid black;
}
.sidebar {
  height: calc(100vh - 80px);
  width: 260px;
 
  background-color: #000000;
  border: 1px solid white;
  overflow-x: hidden;
}

.main-content {
  height: calc(100vh - 80px);
  width: calc(100% - 260px);
 
  background-color: #141922;
  border: 1px solid white;
  
}


.header {
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 1;

  background-color:blanchedalmond;
  border: 1px solid black;
}



.footer {
  height: 80px;
  width: 100%;
  background-color:blue;
  border: 1px solid black;
  margin-top: auto;
}